pre.code
  margin 16px
  background: #333
  border-radius 3px
  box-shadow 2px 5px 6px 0px rgba(0,0,0,0.2)
  transition: all 0.4s ease
  &:hover
    box-shadow 2px 5px 14px 0px rgba(0,0,0,0.5)
  &:before
    content 'Code'
    line-height 2
    padding 4px 8px
    color white
    width 100%
    font-size 16px
code
  color rgba(255,255,255,.8)
  padding 4px 8px
  line-height 1.5
  counter-increment line
  display block
  text-align left
  border-bottom 1px solid rgba(255,255,255,0.1)
  cursor: default
  transition: all 0.1s ease
  &:first-child
    border-top 1px solid rgba(255,255,255,0.1)
  &:before
    content counter(line)
    margin-right 10px
    -webkit-user-select: none
    color: #999
    font-size 10px
  &:hover
    color: rgba(255,255,255,1)
